.coffee{
   max-width: 120rem;
    &__free{ 
        background-color: yellow;
        padding-top: 5rem;
        text-align: center;
        h3{
            text-align: center;
        }
        ul{
                display: flex;
                text-align: center;
                // justify-content: center;
                margin-top: 2rem;
                
            li{
                padding: 2rem;
                border-bottom: 3px solid transparent;
                &.active{
                    border-bottom: 3px solid blue;
                }
               a{
                font-size: 2rem;
                color: $clr-dark;
               }
            }
        }
    }
    &__sec{
        background-color: aqua;
        padding: 5rem 0;
        &__content{
            display: none;
            text-align: center;
            margin: 0 2rem;
            &.active{
                display: block;
            }
            img{
                @include imgFit(100%, 100%);
            }
            &__text{
                h2{
                    margin: 2rem 0;
                }
            }
        }
    }
    
    // &__sec{
    //     display: flex;
    // }
    // &__sec__content{
    //     padding: 2rem;
    //     display: flex;
    //     img{
    //         width: 25rem;
    //         margin-left: -5rem;
           
    //     }
    //     &__text{
    //         padding-top: 5rem;
    //         max-width: 50rem;
    //         p{
    //             font-size: 1.5rem;
    //         }
    //     }
    // }
}