.btn{
    background-color: $clr-primary;
    padding: .8rem 1.8rem;
    border-radius: 3rem;
    border: 1px solid;
    display: inline-block;
    transition: .5 ease-in-out;
    &-primary{
        background-color: $clr-primary;
        color: $clr-light;
        border-color: $clr-primary;
        &:hover{
            background-color: darken($clr-primary, 10);
        }
    }
    
    &-outlinee{
        background-color: transparent;
        color: $clr-dark;
        border-color: $clr-dark;
        font-weight: 800;
        &:hover{
            background-color:rgb(236, 232, 232);
            color: $clr-dark;
        }
    }
    &-dark{
        background-color: black;
        color: $clr-light;
        border-color: rgb(0, 0, 0);
        &:hover{
            background-color: darken(gray, 8);
        }
    }
}